
/* Estilos para el elemento HTML */
html {
  line-height: 1.15; /* Espacio entre líneas */
  font-family: Inter; /* Fuente del texto */
  font-size: 16px; /* Tamaño de fuente base */
}

/* Estilos para el cuerpo de la página */
body {
  font-weight: 400; /* Grosor de la fuente */
  font-style: normal; /* Estilo de la fuente (normal en este caso) */
  text-decoration: none; /* Decoración del texto (ninguna en este caso) */
  text-transform: none; /* Transformación del texto (ninguna en este caso) */
  letter-spacing: normal; /* Espaciado entre letras */
  line-height: 1.15; /* Espaciado entre líneas */
  color: var(--dl-color-gray-black); /* Color del texto */
  background-color: var(--dl-color-gray-white); /* Color de fondo del cuerpo */
  margin: 0; /* Margen del cuerpo */
}

/* Estilos generales para todos los elementos */
* {
  box-sizing: border-box; /* Caja de modelo de borde */
  border-width: 0; /* Ancho del borde */
  border-style: solid; /* Estilo del borde */
}

/* Reset de márgenes y rellenos para varios elementos */
p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
  margin: 0; /* Margen para varios elementos */
  padding: 0; /* Relleno para varios elementos */
}

/* Estilos para los botones y otros elementos interactivos */
button {
  background-color: transparent; /* Fondo transparente para botones */
}

button, input, optgroup, select, textarea {
  font-family: inherit; /* Heredar la fuente del elemento padre */
  font-size: 100%; /* Tamaño de fuente 100% para evitar herencia */
  line-height: 1.15; /* Espaciado entre líneas */
  margin: 0; /* Margen para elementos interactivos */
}


/* Estilos para transformación de texto en botones y selectores */
button,
select {
  text-transform: none; /* Desactiva la transformación de texto en mayúsculas */
}

/* Estilos específicos para botones y tipos de botones */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Apariencia de botón en navegadores WebKit */
}

/* Elimina el estilo de enfoque interno en Firefox para botones */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* Elimina el estilo de borde */
  padding: 0; /* Elimina el relleno */
}

/* Establece el estilo de enfoque en Firefox para botones */
button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText; /* Añade un contorno punteado alrededor del botón enfocado */
}

/* Estilos para enlaces */
a {
  color: inherit; /* Hereda el color del texto del elemento padre */
  text-decoration: inherit; /* Hereda la decoración del texto del elemento padre */
}

/* Estilos para inputs */
input {
  padding: 2px 4px; /* Relleno del input */
}

/* Estilos para imágenes */
img {
  display: block; /* Hace que las imágenes sean elementos de bloque */
}

/* Estilos para el comportamiento de desplazamiento suave en HTML */
html {
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en anclas internas */
}

/* Estilos específicos para un elemento con la clase "rectangle2-rectangle2" */
.rectangle2-rectangle2 {
  width: 1004px; /* Ancho del elemento */
  height: 101px; /* Altura del elemento */
  display: flex; /* Utiliza el modelo de caja flexible para el diseño */
  position: relative; /* Posición relativa */
  align-items: flex-start; /* Alinea los elementos secundarios al inicio del eje transversal */
  flex-shrink: 0; /* No permite que el elemento se encoja más allá de su tamaño */
}
inicio-boton-notificacion
.rectangle2-rectangle21 {
  top: 0px;
  left: 0px;
  width: 1004px;
  height: 101px;
  position: absolute;
}
.rectangle2-root-class-name {
  top: 0px;
  left: 283px;
  position: absolute;
}
.notification-notification {
  width: 33px;
  height: 33px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.notification-vector {
  top: 4.001250267028809px;
  left: 5.464295864105225px;
  width: 22px;
  height: 23px;
  position: absolute;
}
.notification-vector1 {
  top: 2.6675000190734863px;
  left: 13.983750343322754px;
  width: 5px;
  height: 2px;
  position: absolute;
}
.notification-vector2 {
  top: 26.20749855041504px;
  left: 12.40250015258789px;
  width: 8px;
  height: 4px;
  position: absolute;
}
.notification-vector3 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  opacity: 0.00;
  position: absolute;
}
.notification-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}

.profile-profile {
  width: 33px;
  height: 33px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector {
  top: 2.75px;
  left: 10.395000457763672px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.profile-vector1 {
  top: 18.1328125px;
  left: 7.349374771118164px;
  width: 19px;
  height: 12px;
  position: absolute;
}
.profile-vector2 {
  top: 33px;
  left: 33px;
  width: 33px;
  height: 33px;
  opacity: 0.00;
  position: absolute;
}
.profile-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}

.setting2-setting2 {
  width: 33px;
  height: 33px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.setting2-vector {
  top: 12.375px;
  left: 12.375px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.setting2-vector1 {
  top: 3.521510601043701px;
  left: 2.75px;
  width: 28px;
  height: 26px;
  position: absolute;
}
.setting2-vector2 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  opacity: 0.00;
  position: absolute;
}
.setting2-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}

.profile2user-profile2user {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile2user-vector {
  top: 3.3333332538604736px;
  left: 7.599999904632568px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.profile2user-vector1 {
  top: 6.666666507720947px;
  left: 27.13333511352539px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.profile2user-vector2 {
  top: 21.97916603088379px;
  left: 3.9083330631256104px;
  width: 23px;
  height: 14px;
  position: absolute;
}
.profile2user-vector3 {
  top: 23.33333396911621px;
  left: 30.566667556762695px;
  width: 5px;
  height: 10px;
  position: absolute;
}
.profile2user-vector4 {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  opacity: 0.00;
  position: absolute;
}
.profile2user-root-class-name {
  top: -4px;
  left: -1px;
  position: absolute;
}

.profile2user1-profile2user {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile2user1-vector {
  top: 3.3333332538604736px;
  left: 7.599999904632568px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.profile2user1-vector1 {
  top: 6.666666507720947px;
  left: 27.13333511352539px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.profile2user1-vector2 {
  top: 21.97916603088379px;
  left: 3.9083330631256104px;
  width: 23px;
  height: 14px;
  position: absolute;
}
.profile2user1-vector3 {
  top: 23.33333396911621px;
  left: 30.566667556762695px;
  width: 5px;
  height: 10px;
  position: absolute;
}
.profile2user1-vector4 {
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  opacity: 0.00;
  position: absolute;
}
.profile2user1-root-class-name {
  top: -4px;
  right: -1px;
  position: absolute;
}
.profile2user1-root-class-name1 {
  top: -4px;
  right: -1px;
  position: absolute;
}

.user-user {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.user-vector {
  top: 2px;
  left: 7px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.user-vector1 {
  top: 13px;
  left: 3px;
  width: 17px;
  height: 7px;
  position: absolute;
}
.user-root-class-name {
  left: -1px;
  bottom: -2px;
  position: absolute;
}

.edit-edit {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.edit-vector {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.edit-vector1 {
  top: 1.7487707138061523px;
  left: 7.048949241638184px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.edit-vector2 {
  top: 4.150000095367432px;
  left: 14.90999984741211px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.edit-vector3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.edit-root-class-name {
  right: -1px;
  bottom: -1px;
  position: absolute;
}

.lovely-lovely {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.lovely-group {
  top: 3.100006103515625px;
  left: 2px;
  width: 20px;
  height: 17.799991607666016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lovely-group1 {
  top: 0px;
  left: 0px;
  width: 17.8599853515625px;
  height: 15.902507781982422px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lovely-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 16px;
  position: absolute;
}
.lovely-group2 {
  top: 5.899993896484375px;
  left: 6.6300048828125px;
  width: 13.3699951171875px;
  height: 11.899996757507324px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.lovely-vector1 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 12px;
  position: absolute;
}
.lovely-vector2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.lovely-root-class-name {
  top: -3px;
  left: 0px;
  position: absolute;
}

.heartsearch-heartsearch {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.heartsearch-group {
  top: 3.0999755859375px;
  left: 2px;
  width: 20px;
  height: 17.80999755859375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.heartsearch-vector {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 18px;
  position: absolute;
}
.heartsearch-group1 {
  top: 14.5999755859375px;
  left: 14.540000915527344px;
  width: 7px;
  height: 7px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.heartsearch-vector1 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.heartsearch-vector2 {
  top: 6px;
  left: 6px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.heartsearch-vector3 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.heartsearch-root-class-name {
  top: -4px;
  left: -2px;
  position: absolute;
}

.notefavorite-notefavorite {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.notefavorite-vector {
  top: 2px;
  left: 8px;
  width: 0px;
  height: 3px;
  position: absolute;
}
.notefavorite-vector1 {
  top: 2px;
  left: 16px;
  width: 0px;
  height: 3px;
  position: absolute;
}
.notefavorite-vector2 {
  top: 3.5px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.notefavorite-vector3 {
  top: 11px;
  left: 7px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.notefavorite-vector4 {
  top: 16px;
  left: 7px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.notefavorite-vector5 {
  top: 12.5px;
  left: 12.5px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.notefavorite-vector6 {
  top: 15.25px;
  left: 15.25px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.notefavorite-vector7 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.notefavorite-root-class-name {
  top: -4px;
  left: -1px;
  position: absolute;
}

.menuboard-menuboard {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.menuboard-vector {
  top: 3.9599609375px;
  left: 0.996917724609375px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.menuboard-vector1 {
  top: 6px;
  left: 16px;
  width: 7px;
  height: 16px;
  position: absolute;
}
.menuboard-vector2 {
  top: 2.06005859375px;
  left: 9.67999267578125px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.menuboard-vector3 {
  top: 2.050048828125px;
  left: 16.3800048828125px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.menuboard-vector4 {
  top: 12px;
  left: 7.70001220703125px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.menuboard-vector5 {
  top: 16px;
  left: 6.70001220703125px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.menuboard-vector6 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.menuboard-root-class-name {
  top: -4px;
  left: -2px;
  position: absolute;
}

.pet1-pet {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.pet1-vector {
  top: 10px;
  left: 4.3919358253479px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.pet1-vector1 {
  top: 2.5px;
  left: 7.970000267028809px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.pet1-vector2 {
  top: 4.699999809265137px;
  left: 15.300000190734863px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.pet1-vector3 {
  top: 9.699999809265137px;
  left: 19.5px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.pet1-vector4 {
  top: 6.699999809265137px;
  left: 1.9700000286102295px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.pet1-vector5 {
  left: -13px;
  width: 24px;
  bottom: -8px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.pet1-root-class-name {
  right: -9px;
  bottom: -20px;
  position: absolute;
}

.teacher-teacher {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.teacher-vector {
  top: 1.9987434148788452px;
  left: 2.5825002193450928px;
  width: 19px;
  height: 14px;
  position: absolute;
}
.teacher-vector1 {
  top: 13.079999923706055px;
  left: 5.619999885559082px;
  width: 13px;
  height: 9px;
  position: absolute;
}
.teacher-vector2 {
  top: 9px;
  left: 21.399999618530273px;
  width: 0px;
  height: 6px;
  position: absolute;
}
.teacher-vector3 {
  top: 24px;
  left: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.teacher-root-class-name {
  top: -3px;
  left: 0px;
  position: absolute;
}

.notificationfavorite-notificationfavorite {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.notificationfavorite-vector {
  top: 2px;
  left: 16px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.notificationfavorite-vector1 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.notificationfavorite-vector2 {
  top: 12.009880065917969px;
  left: 6.688989162445068px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.notificationfavorite-vector3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.00;
  position: absolute;
}
.notificationfavorite-root-class-name {
  top: -3px;
  left: 0px;
  position: absolute;
}

.pet-pet {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.pet-vector {
  top: 10px;
  left: 4.3919358253479px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.pet-vector1 {
  top: 2.5px;
  left: 7.970000267028809px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.pet-vector2 {
  top: 4.699999809265137px;
  left: 15.300000190734863px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.pet-vector3 {
  top: 9.699999809265137px;
  left: 19.5px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.pet-vector4 {
  top: 6.699999809265137px;
  left: 1.9700000286102295px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.pet-vector5 {
  top: 0px;
  right: -1px;
  width: 24px;
  height: 23px;
  opacity: 0.00;
  position: absolute;
}
.pet-root-class-name {
  left: -31px;
  bottom: -7px;
  display: none;
  position: absolute;
}

.inicio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.inicio-inicio {
  width: 100%;
  height: 710px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(242, 242, 243, 1);
}
.inicio-grupo-btn-notificacion {
  top: 34px;
  left: 1199px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-boton-notificacion {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  background-color: #fdffff00;
  color: #ffffff;
  transition: transform 0.3s; /* Agrega una transición suave solo para la propiedad transform */
}

/* Estilo del botón de notificación al pasar el cursor sobre él */
.inicio-boton-notificacion:hover {
  color: #ffffff;
  transform: scale(1.2); /* Realiza un zoom del 20% al pasar el cursor */
}

.inicio-btn-nofiticacion {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  cursor: pointer;
}

.inicio-boton-perfil {
  top: 34px;
  left: 1101px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  
  transition: transform 0.3s; /* Agrega una transición suave solo para la propiedad transform */
}
.inicio-boton-perfil:hover{
  transform: scale(1.2); /* Realiza un zoom del 20% al pasar el cursor */
}

.inicio-gestionar-clientes{
  transition: transform 0.3s;
  cursor: pointer;
}

.inicio-gestion-clientes-fondo {
  top: 276px;
  left: 62px;
  width: 39px;
  height: 32px;
  position: absolute;
  border-radius: 5px;
  transition: transform 0.3s;
}
.inicio-gestion-clientes-fondo:hover,.inicio-gestionar-clientes:hover{
  transform: scale(1.1);
}

.inicio-dashboard-text {
  top: 175px;
  left: 135px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  transition: transform 0.3s;
  cursor: pointer;
}
.inicio-dashboard-text:hover{
  transform: scale(1.1);
  color: blue; 
}


.inicio-btn-perfil {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-boton-config {
  top: 34px;
  left: 1150px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s;
}
.inicio-boton-config:hover{
  transform: scale(1.2);
}

.inicio-btn-perfil1 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}


.inicio-pagina-dashboard {
  top: 31px;
  left: 346px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-dashboard {
  top: 58px;
  left: 346px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-cantidad-usuarios {
  top: 148px;
  left: 622px;
  width: 261px;
  height: 97px;
  position: absolute;
  border-radius: 30px;
}
.inicio-pethealth-text {
  top: 293px;
  left: 366px;
  width: 379px;
  height: 415px;
  position: absolute;
  border-radius: 40px;
}
.inicio-pet-health-imagen-fondo {
  top: 261px;
  left: 313px;
  width: 230px;
  height: 230px;
  position: absolute;
}
.inicio-pet-health-imagen {
  top: 279px;
  left: 333px;
  width: 190px;
  height: 190px;
  position: absolute;
}
.inicio-beraca-text {
  top: 293px;
  left: 814px;
  width: 379px;
  height: 415px;
  position: absolute;
  border-radius: 40px;
}
.inicio-beraca-imagen-fondo {
  top: 261px;
  left: 781px;
  width: 230px;
  height: 229px;
  position: absolute;
}
.inicio-beraca-imagen {
  top: 279px;
  left: 801px;
  width: 190px;
  height: 190px;
  position: absolute;
}
.inicio-fondo-icono-usuarios {
  top: 165px;
  left: 642px;
  width: 62px;
  height: 62px;
  position: absolute;
  border-radius: 15px;
}
.inicio-icono-usuarios {
  top: 176px;
  left: 653px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-icons-usuario-bloque {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-cantidad-usuarios-numero {
  color: rgba(0, 0, 0, 1);
  right: -105px;
  bottom: -6px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-cantidad-usuarios-text {
  top: -14px;
  color: rgba(0, 0, 0, 1);
  right: -138px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-cantidad-mascotas-fondo {
  top: 150px;
  left: 919px;
  width: 261px;
  height: 97px;
  position: absolute;
  border-radius: 30px;
}
.inicio-icon-mascotas-cantidad {
  top: 167px;
  left: 939px;
  width: 62px;
  height: 62px;
  position: absolute;
  border-radius: 15px;
}
.inicio-icon-mascotas {
  top: 178px;
  left: 950px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-icono-mascotas {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-vuesaxlinearprofile2user {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-cantidad-mascotas-num {
  color: rgba(0, 0, 0, 1);
  right: -112px;
  bottom: -7px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-cantidad-mascotas-text {
  top: -15px;
  color: rgba(0, 0, 0, 1);
  right: -150px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-saludo {
  top: 162px;
  left: 394px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-nombre-saludo {
  top: 190px;
  left: 428px;
  color: rgba(0, 0, 0, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-menu {
  top: -1px;
  left: 0px;
  width: 283px;
  height: 830px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-menu1 {
  top: 0px;
  left: 0px;
  width: 283px;
  height: 717px;
  position: absolute;
}
.inicio-rectangle13 {
  top: 574px;
  left: 61px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-gestionar-clientes {
  top: 279px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-beraca-text1 {
  top: 49px;
  left: 72px;
  color: rgba(181, 29, 45, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Mogra;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-botonde-citas {
  top: 157px;
  left: 47px;
  width: 236px;
  height: 60px;
  position: absolute;
  border-radius: 10px;
}

.inicio-rectangle4 {
  top: 171px;
  left: 57px;
  width: 40px;
  height: 36px;
  position: absolute;
  border-radius: 5px;
}

.inicio-dashboard-icon {
  top: 172px;
  left: 66px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(198, 0, 247, 1);
}
.inicio-icon-dashboard {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-gestionar-consultas {
  top: 379px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-text13 {
  top: 432px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-text15 {
  top: 478px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-text17 {
  top: 530px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-icono-consultas {
  top: 373px;
  left: 61px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-icono-agenda {
  top: 470px;
  left: 61px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-icono-citas {
  top: 424px;
  left: 62px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-text19 {
  top: 582px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-text21 {
  top: 634px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-icono-mensajes {
  top: 522px;
  left: 61px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-icono-sabias-que {
  top: 627px;
  left: 61px;
  width: 39px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-text23 {
  top: 330px;
  left: 105px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.inicio-icono-gestion-mascotas {
  top: 328px;
  left: 61px;
  width: 41px;
  height: 33px;
  position: absolute;
  border-radius: 5px;
}
.inicio-icon-gestion-clientes {
  top: 276px;
  left: 68px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-caja-gestion-clientes {
  top: -1px;
  right: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-linea-beraca {
  top: 100.5px;
  left: 35px;
  width: 243px;
  height: 1px;
  position: absolute;
}
.inicio-icono-gestionar-consultas {
  top: 378px;
  left: 68px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-caja-gestionar-consultas {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-busqueda-adopcion {
  top: 579px;
  left: 68px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.inicio-caja-icono-busqueda {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-gestionar-citas {
  top: 428px;
  left: 69px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-gestionar-agenda {
  top: 475px;
  left: 69px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-gestionar-mascotas {
  top: 304px;
  left: 61px;
  width: 23px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-sabias-que {
  top: 631px;
  left: 68px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-gestionar-mensajes {
  top: 527px;
  left: 68px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.inicio-vuesaxlinearpet {
  top: 347px;
  left: 52px;
  width: 23px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 24px;
  display: none;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
