@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Mogra', sans-serif;
}

body {
    overflow: hidden;
}

.login-imagen {
    text-align: center;
    position: relative;
    z-index: 2;
}

.login-imagen-pethealth {
    position: relative;
    border-radius: 50%;
    left: -5%;
    width: 50%; /* Ajusta el tamaño según tus necesidades */
}

.login-imagen-pethealth img {
    overflow: hidden;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.login-fondo {
    text-align: center;
    z-index: 1;
    height: 60vh; /* Uso de unidades de vista de altura (viewport height) */
}
.login-fondo-inicio {
    position: relative;
    left: 40%;
    margin-top: -60%;
    left: -10%;
    width: 70%; /* Ajusta el tamaño según tus necesidades */
    transform: translate(-50%, -50%);
}
.login-fondo-inicio img {
    position: absolute;
    max-width: 100%;
    border-radius: 10%;
}
.login-formulario {
    position: fixed;
    text-align: center;
    z-index: 3;
    border: 2px none;
    background-color: rgba(55, 33, 248, 0.397);
    padding: 20px;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    height: 500px;
    top: 50%;
    left: 66%;
    transform: translate(-30%, -50%);
    border-radius: 15px ;
}
.circulo{
    position: relative;
    width: 50px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 50px; /* Ajusta el tamaño del círculo según tus necesidades */
    background-color: rgba(255, 0, 0, 0.5); /* Rojo con 50% de transparencia */
    border-radius: 50%;
    text-align: center;
    left: 44%;
}
.h1-formulario h1{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    color: rgb(211, 20, 20);
}

.fomulario label{
   position: relative;
   color: aliceblue;
   margin-bottom: 10px;
   margin: 10px;
}

.fomulario input {
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 300px;
    margin-bottom: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}


.btnLogin button {
    background-color: red; /* Cambia el color del fondo a rojo */
    color: white; /* Cambia el color del texto a blanco */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    border-radius: 10px;
    cursor: pointer;
}
.btnLogin button:hover{
    background-color: darkred; /* Cambia el color del fondo cuando el mouse está sobre el botón */
}
