<!DOCTYPE html>
<html lang="ES">
<!-- librerias de fuentes para los textos -->

<head>
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link href="../css/index.css" rel="stylesheet" />
  <link rel="shortcut icon" href="../img/ico/icono_empresa.ico" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mogra:wght@400&amp;display=swap"
    data-tag="font" />
</head>
<body>
  <div>
    <div class="inicio-container">
      <div class="inicio-inicio">
        <div class="rectangle2-rectangle2 rectangle2-root-class-name">
          <img src="public/external/rectangle2817-ri6r-200h.png" alt="Rectangle2817" class="rectangle2-rectangle21" />
        </div>
        <!-- Secciones de botones (perfil, configuracion y notificaciones ) -->
        <section class="seccion_botones">
          <div class="inicio-grupo-btn-notificacion">
            <!-- boton de notificacion -->
            <button class="inicio-boton-notificacion" type="submit" onclick="window.location.href='#';">
              <div class="inicio-btn-nofiticacion">
                <div class="notification-notification notification-root-class-name">
                  <!-- imagenes para formar el boton de notificacion -->
                  <img src="public/external/vector1317-yuxb.svg" class="notification-vector" />
                  <img src="public/external/vector1317-yga.svg" class="notification-vector1" />
                  <img src="public/external/vector1317-a5s8.svg" class="notification-vector2" />
                </div>
              </div>
            </button>
          </div>
          <!-- boton de perfil -->
          <button class="inicio-boton-perfil" type="submit" onclick="window.location.href='#';">
            <div class="inicio-btn-perfil">
              <div class="btn-perfil class-name">
                <!-- imagenes para formar el boton de perfil -->
                <img src="public/external/vector1318-sc3.svg" class="profile-vector" />
                <img src="public/external/vector1318-ywkp.svg" class="profile-vector1" />
              </div>
            </div>
          </button>
          <!-- boton de configuracion  -->
          <button class="inicio-boton-config" type="submit" onclick="window.location.href='#';">
            <div class="inicio-btn-perfil1">
              <div class="btn-configuarion class-name">
                <!-- imagenes para formar el boton de configuracion  -->
                <img src="public/external/vector1318-d52.svg" class="setting2-vector" />
                <img src="public/external/vector1318-vtfs.svg" class="setting2-vector1" />
              </div>
            </div>
          </button>
        </section>
        <!-- seccion de pagina de inicio -->
        <section class="pagina-inicio-textos">
          <span class="inicio-pagina-dashboard">
            <span>Páginas/Dashboard</span>
          </span>
          <span class="inicio-dashboard">
            <span>Dashboard</span>
          </span>
        </section>
        <!-- secciones de contenido -->
        <section class="seccion-contenido">
          <!-- imagenes que forman los elementos de (Cantidad de usuarios, cantidad de mascotas) -->
          <!-- este es el rectangulo que forma el cantidad usuarioss -->
          <img src="public/external/rectangle121319-u4v-200h.png" class="inicio-cantidad-usuarios" />
          <!-- este es el rectangulo que esta posicionado abajo del logo de petHealth -->
          <img src="public/external/rectangle141619-42w-500h.png" class="inicio-pethealth-text" />
          <!-- este es la decoracion del logo de petHealth -->
          <img src="public/external/ellipse11619-7xyk-300h.png" class="inicio-pet-health-imagen-fondo" />
          <!-- este es la imagen del logo de petHealth -->
          <img src="public/external/ellipse21620-sxsn-200h.png" class="inicio-pet-health-imagen" />
          <!-- este es el rectangulo que esta debajo del logo de beraca -->
          <img src="public/external/rectangle203616-r45i-500h.png" class="inicio-beraca-text" />
          <!-- este es la decoracion del logo de la veterinaria beraca -->
          <img src="public/external/ellipse33617-wv6h-300h.png" class="inicio-beraca-imagen-fondo" />
          <!-- este es el logo de beraca -->
          <img src="public/external/ellipse43618-jn1u-200h.png" class="inicio-beraca-imagen" />
          <!-- este es el fondo rosa del logo de usuarios posicionado en "Cantidad de usuarios" -->
          <img src="public/external/rectangle171631-0o4h-200h.png" class="inicio-fondo-icono-usuarios" />

          <div class="inicio-icono-usuarios">
            <div class="inicio-icons-usuario-bloque">
              <!-- creacion de los iconos del contador de usuarios-->
              <div class="profile2user-profile2user profile2user-root-class-name">
                <img src="public/external/vector1732-b1gc.svg" alt="Vector1732" class="profile2user-vector" />
                <img src="public/external/vector1732-pxkf.svg" alt="Vector1732" class="profile2user-vector1" />
                <img src="public/external/vector1732-6k0s.svg" alt="Vector1732" class="profile2user-vector2" />
                <img src="public/external/vector1732-7ca.svg" alt="Vector1732" class="profile2user-vector3" />
              </div>
            </div>
            <span class="inicio-cantidad-usuarios-numero">
              <span>300</span>
            </span>
            <span class="inicio-cantidad-usuarios-text">
              <span>Cantidad Usuarios</span>
            </span>
          </div>
          <img src="public/external/rectangle181935-1mhs-200h.png" alt="Rectangle181935"
            class="inicio-cantidad-mascotas-fondo" />
          <img src="public/external/rectangle191935-8f9x-200h.png" alt="Rectangle191935"
            class="inicio-icon-mascotas-cantidad" />
          <!-- creacion de los iconos del contador de mascotas -->
          <div class="inicio-icon-mascotas">
            <div class="inicio-vuesaxlinearprofile2user">
              <div class="profile2user1-profile2user profile2user1-root-class-name1">
                <img src="public/external/vectori193-oae9.svg" alt="VectorI193" class="profile2user1-vector" />
                <img src="public/external/vectori193-jpw.svg" alt="VectorI193" class="profile2user1-vector1" />
                <img src="public/external/vectori193-bkhd.svg" alt="VectorI193" class="profile2user1-vector2" />
                <img src="public/external/vectori193-qgcxn.svg" alt="VectorI193" class="profile2user1-vector3" />
              </div>
            </div>
            <span class="inicio-cantidad-mascotas-num"><span>350</span></span>
            <span class="inicio-cantidad-mascotas-text">
              <span>Cantidad Mascotas</span>
            </span>
          </div>
        </section>
        <section class="mensaje-saludo">
          <span class="inicio-saludo"><span>¡Hola de nuevo!</span></span>
          <span class="inicio-nombre-saludo"><span>Fulanito</span></span>
        </section>
        <section class="navbar-menu">
          <div class="inicio-menu">
            <div class="inicio-beraca">
              <span class="inicio-beraca-text1"><span>Beraca</span></span>
              <img src="public/external/line1i967-yz0q.svg" alt="Line1I967" class="inicio-linea-beraca" />
            </div>
            <div class="inicio-boton-dashboard">
              <button  type="submit" onclick="window.location.href='#';">
                <img src="public/external/fondoBotonPrincipal.png" alt="boton-inicio" class="inicio-botonde-citas" />
                <img src="public/external/rectangle4i967-67ak-200h.png" alt="Rectangle4I967" class="inicio-rectangle4" />
                <img src="public/external/rectangle8i967-g8w-200h.png" alt="Rectangle5I967" class="inicio-gestion-clientes-fondo" />
                <span class="inicio-dashboard-text"><span>Dashboard</span></span>
              </button>
            </div>
            <div class="inicio-dashboard-icon">
              <div class="inicio-icon-dashboard">
                <div class="user-user user-root-class-name">
                  <img src="public/external/vectori967-yyxs.svg" alt="icono-dashboard" class="user-vector" />
                  <img src="public/external/vectori967-lrhb.svg" alt="icono-dashboard" class="user-vector1" />
                </div>
              </div>
            </div>
            <!-- boton gestionar clientes -->
            <div class="btn-gestionar-clientes">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-gestionar-clientes">
                  <span>Gestionar Clientes</span>
                </span>
              </button>
            </div>
            <!-- boton gestionar mascotas -->
            <div class="gestion-mascotas">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-text23"><span>Gestionar Mascotas</span></span>
                <img src="public/external/rectangle6i967-wiqy-200h.png" alt="Rectangle6I967"
                  class="inicio-icono-gestion-mascotas" />
              </button>
            </div>
            <!-- boton gestionar consultas  -->
            <div class="gestionar-consultas">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-gestionar-consultas">
                  <span>Gestionar Consultas</span>
                </span>
                <img src="public/external/rectangle7i967-pt6g-200h.png" alt="icono-gestionar-consultas-fondo"
                  class="inicio-icono-consultas" />
              </button>
            </div>
            <!-- botom gestionar citas -->
            <div class="gestionar-citas">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-text13"><span>Gestionar Citas</span></span>
                <img src="public/external/fondo-citas.png" alt="fondo-citas" class="inicio-icono-citas" />
              </button>
            </div>
            <!-- boton gestionar agenda -->
            <div class="gestionar-agenda">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-text15"><span>Gestionar Agenda</span></span>
                <img src="public/external/fondoAgenda.png" alt="agenda-icono-fondo" class="inicio-icono-agenda" />
              </button>
            </div>
            <!-- boton mensajes  -->
            <div class="gesionar-mensaje">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-text17"><span>Gestionar Mensajes</span></span>
                <img src="public/external/rectangle9i967-6qha-200h.png" alt="Rectangle9I967"
                  class="inicio-icono-mensajes" />
              </button>
            </div>
            <!-- boton Busqueda Adopcion -->
            <div class="Busqueda-Adopcion">
              <button type="submit" onclick="window.location.href='#';">
                <img src="public/external/rectangle13i967-nis-200h.png" alt="Rectangulo" class="inicio-rectangle13" />
                <span class="inicio-text19"><span>Busqueda Adopcion</span></span>
              </button>
            </div>
            <div class="sabias-que">
              <button type="submit" onclick="window.location.href='#';">
                <span class="inicio-text21"><span>¿Sabias que?</span></span>
                <img src="public/external/rectangle13i967-nis-200h.png" alt="Rectangle13I967"
                  class="inicio-icono-sabias-que" />
              </button>
            </div>
            <!-- Iconos de la barra de navegacion  -->
            <div class="inicio-icon-gestion-clientes">
              <div class="inicio-caja-gestion-clientes">
                <div class="edit-edit edit-root-class-name">
                  <img src="public/external/vectori967-6iji.svg" alt="VectorI967" class="edit-vector" />
                  <img src="public/external/vectori967-7dr7.svg" alt="VectorI967" class="edit-vector1" />
                  <img src="public/external/vectori967-rsua.svg" alt="VectorI967" class="edit-vector2" />
                </div>
              </div>
            </div>
            <div class="inicio-icono-gestionar-consultas">
              <div class="inicio-caja-gestionar-consultas">
                <div class="lovely-lovely lovely-root-class-name">
                  <div class="lovely-group">
                    <div class="lovely-group1">
                      <img
                        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/adb9d255-3494-403f-a509-7ee7b853c0bd?org_if_sml=1724&amp;force_format=original"
                        alt="VectorI967" class="lovely-vector" />
                    </div>
                    <div class="lovely-group2">
                      <img
                        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/81b40702-b747-4b84-9f7c-f121acd63b9c?org_if_sml=1525&amp;force_format=original"
                        alt="VectorI967" class="lovely-vector1" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="inicio-busqueda-adopcion">
              <div class="inicio-caja-icono-busqueda">
                <div class="heartsearch-heartsearch heartsearch-root-class-name">
                  <div class="heartsearch-group">
                    <img src="public/external/vectori967-4ss.svg" alt="VectorI967" class="heartsearch-vector" />
                  </div>
                  <div class="heartsearch-group1">
                    <img
                      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/4262e49b-6c8d-42dc-8c6a-17ed809fc4ef?org_if_sml=1378&amp;force_format=original"
                      alt="VectorI967" class="heartsearch-vector1" />
                    <img
                      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/bb13f689-de7c-4396-b46c-c9b00257f25b?org_if_sml=1227&amp;force_format=original"
                      alt="VectorI967" class="heartsearch-vector2" />
                  </div>
                </div>
              </div>
            </div>
            <div class="inicio-gestionar-citas">
              <div class="notefavorite-notefavorite notefavorite-root-class-name">
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/10bed909-475a-40b6-9610-a017a063cb9e?org_if_sml=1224&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/8fd3fa10-6aa3-4b51-843c-d85f0b87ae47?org_if_sml=1224&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector1" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/6e8fc4c6-9fd0-48a1-88fc-18c39b5f84f7?org_if_sml=1475&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector2" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/132abea4-0a3c-47b7-9dfc-d7f0279466b6?org_if_sml=1224&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector3" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/37efd041-834e-4fd3-b43d-a0d21dd9e391?org_if_sml=1227&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector4" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/fa5d9d7d-f505-4850-9b8d-df268bca50fd?org_if_sml=1563&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector5" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/7d2a4403-1c5a-49d2-9841-1581582a62c8?org_if_sml=1326&amp;force_format=original"
                  alt="VectorI967" class="notefavorite-vector6" />
              </div>
            </div>
            <div class="inicio-gestionar-agenda">
              <div class="inicio-gestionar-agenda-img">
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/de3ea924-abbb-40ab-b095-782ac8829331?org_if_sml=1439&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/400a5e9b-e577-4a94-9b61-051d12a95a92?org_if_sml=1270&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector1" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/a5e97963-3da1-42f6-abfa-b83d1bdf6a73?org_if_sml=1247&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector2" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/aa016101-96e4-4048-aa5e-5395f6a00f6c?org_if_sml=1247&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector3" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/37d46b47-b178-4207-b63f-8412a79066a1?org_if_sml=1238&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector4" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/cac6c29a-ffce-4d34-bec0-0f31033321ca?org_if_sml=1238&amp;force_format=original"
                  alt="VectorI967" class="menuboard-vector5" />
              </div>
            </div>
            <div class="inicio-gestionar-mascotas">
              <div class="pet1-pet pet1-root-class-name">
                <img src="public/external/vectori967-gif.svg" alt="VectorI967" class="pet1-vector" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/cb5f5704-f5fa-4905-b30b-6ff6c44c18de?org_if_sml=1367&amp;force_format=original"
                  alt="VectorI967" class="pet1-vector1" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/f94312ca-33f8-4e3a-811d-c50914e3bba7?org_if_sml=1404&amp;force_format=original"
                  alt="VectorI967" class="pet1-vector2" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/576fa05f-cb5c-49e4-861a-c76664230929?org_if_sml=1362&amp;force_format=original"
                  alt="VectorI967" class="pet1-vector3" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/553a9e47-2965-4a9b-a363-afba7b2d1bd4?org_if_sml=1405&amp;force_format=original"
                  alt="VectorI967" class="pet1-vector4" />
              </div>
            </div>
            <div class="inicio-sabias-que">
              <div class="teacher-teacher teacher-root-class-name">
                <img src="public/external/vectori967-goh.svg" alt="VectorI967" class="teacher-vector" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/98aeeb94-29d6-4e43-addf-0213adfaa902?org_if_sml=1372&amp;force_format=original"
                  alt="VectorI967" class="teacher-vector1" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/e1e02372-dfc7-43d5-8913-c79cde2b9ef4?org_if_sml=1207&amp;force_format=original"
                  alt="VectorI967" class="teacher-vector2" />
              </div>
            </div>
            <div class="inicio-gestionar-mensajes">
              <div class="notificationfavorite-notificationfavorite notificationfavorite-root-class-name">
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/32d55435-4d1d-4785-848e-43e2abf2b3f0?org_if_sml=1296&amp;force_format=original"
                  alt="VectorI967" class="notificationfavorite-vector" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/38408b80-7457-4b31-a0b2-7940fe3987f0?org_if_sml=1259&amp;force_format=original"
                  alt="VectorI967" class="notificationfavorite-vector1" />
                <img
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/b7802304-b490-49f4-99c3-d453f94c60de/2ac6e9c9-e940-418a-9d76-3c8c0acdf88b?org_if_sml=1502&amp;force_format=original"
                  alt="VectorI967" class="notificationfavorite-vector2" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>